name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Run pipeline
        run: |
          cd backend
          ./run.sh

      - name: Upload Artifacts
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: dcat-ap-output
          path: |
            backend/out.ttl
            backend/shapes.ttl
            backend/shacl-report.txt
